.own-message{
    background-color: #0277bd;
    padding: var(--mb1);
    border-radius: 8px;
    margin:0 0 var(--mb1) 15%;
    color: #fff;
    display: flex;
}

.own-btn-group{
    align-self: flex-end;
}

.own-btn-group .btn {
    margin-left: var(--mb0);
}