.message-list{
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    height: 500px;
    margin: var(--mb2) auto var(--mb2);
    overflow: auto;
    list-style: none;
    padding: var(--mb1);
}