.message-input{
    display: flex;
    width: 100%;
    align-items: center;
    background: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    padding: var(--mb2);
}

.message-input-text{
    border: none;
    resize: none;
    min-height: 100px;
    width: 100%;
    margin-right: var(--mb2);
    padding: var(--mb0);

    border:1px solid #ccc;
    background: none;
}