@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
  --mb0: 5px;
  --mb1: 15px;
  --mb2: 30px;
  --mb3: 45px;

}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #37474f;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #b0bec5;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #b0bec5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #546e7a;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
