.message{
    background-color: #6a1b9a;
    padding: var(--mb1);
    border-radius: 8px;
    margin:0 15% var(--mb1) 0;
    color: #fff;
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition: all 200ms ease-in-out;
}

.message:hover{
    box-shadow: -15px 10px 8px rgba(0, 0, 0, 0.6);
    transform: translate(10px, -5px);
}

.message-user-avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: var(--mb1);
    object-fit: cover;
}

.message-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-user-name{
    font-size: 11px;
}

.message-text{
    font-size: 14px;
    margin-bottom: var(--mb1);
}

.message-like{
    align-self: flex-start;
}